Response to WHATWG URI?

The [WHATWG URI standard][1] states a number of goals, including the following:

> - Align RFC 3986 and RFC 3987 with contemporary implementations and obsolete them in the process. (E.g., spaces, other "illegal" code points, query encoding, equality, canonicalization, are all concepts not entirely shared, or defined.) URL parsing needs to become as solid as HTML parsing. [[RFC3986]](https://url.spec.whatwg.org/#biblio-rfc3986) [[RFC3987]](https://url.spec.whatwg.org/#biblio-rfc3987)
> - Standardize on the term URL. URI and IRI are just confusing. In practice a single algorithm is used for both so keeping them distinct is not helping anyone. URL also easily wins the [search result popularity contest](http://www.googlefight.com/index.php?word1=url&word2=uri).
> - Supplanting [Origin of a URI [sic]](https://tools.ietf.org/html/rfc6454#section-4). [[RFC6454]](https://url.spec.whatwg.org/#biblio-rfc6454)

The WHATWG specification is [not without controversy](https://github.com/whatwg/url/issues/118#issuecomment-218236294) over the goals to obsolete RFCs 3986 and 3987.

Is this a project to bring new life into these specs in response to this, or is it simply a copy for posterity?

[1]: https://url.spec.whatwg.org/#goals

The WHATWG URL specification does not accomplish any of those goals, nor is it capable of doing so given the WHATWG's myopic focus on the browser as a platform. Nevertheless, any HTML specification needs a place to define the DOM for the url object and its associated behaviors, which I assume will still be guided by W3C process. That document will eventually reference a standard for parsing references in hypertext, assuming we have one worth referencing. I am not interested in the subjects of when, why, or how those references will occur.

The standards-track RFCs are a product of the IETF. They are intended to represent consensus on interop for all Internet protocols and applications, including the five browsers.

What you see currently in this repo is a resurrection of my public archive for the URI working group, including a complete version history of the IETF specifications that I authored in the past. That's for posterity, I guess, and to keep me grounded.

The next step in my work here is to supply a definition of reference parsing that is applicable to all contexts in which URI references might occur, including HTML, HTTP, XML, JSON, PDF, WON, Internet Messages, etc., and which is capable of updating RFC3986's sections on reference parsing. Right now that work is only in pre-draft form, but it will eventually lead to an Internet Draft submission, perhaps a working group, and (well down the line) an RFC of some form to be decided by others at the IETF. Individuals within the WHATWG are welcome to participate in that process and in collaboration on whatever drafts we come up with in this repo.

> The WHATWG URL specification does not accomplish any of those goals, nor is it capable of doing so given the WHATWG's myopic focus on the browser as a platform.

Personally, I'm in full agreement with this statement and indeed, it sums up my thoughts on the subject to a T. I wish I had the ability to be so eloquent!

Excellent answer @royfielding – much obliged!